@page
@using ADO.NET_Demo.Web.Models
@model List<BookDto>
@{
    @Model
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (Model != null )
{
    <ul>
    @foreach (var book in ViewBag.Books)
    {
        <li>@book.Name</li>
    }
</ul>
}

